// ----------------------------------------------------
// Variables
// ----------------------------------------------------
$accent: #d5c4b4
$dark: #2e3532
$dark-blue: #242d36
$light-gray: #eeedeb
$white: #fff
$trsp: transparent
$fontsize: 16px
$textcolor: #000
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif
$font: 'Montserrat', sans-serif


// ----------------------------------------------------
// Bootstrap configs
// ----------------------------------------------------
// Bootstrap compatible gutter variable => $gutter
$grid-breakpoints: (xxs: 0, xs: 375px, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1440px)
$container-max-widths: (xxl: 1380px)
$grid-gutter-width: 20px
$gutter: $grid-gutter-width


// ----------------------------------------------------
// Other imports
// ----------------------------------------------------
@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss' // Bootstrap Reboot
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss' // Bootstrap Breakpoints mixin


// ----------------------------------------------------
// Fonts load
// ----------------------------------------------------
@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		// font-display: swap // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2')

// @include font('Roboto', normal, 400, '../fonts/roboto-regular-webfont.woff2')
// @include font('Roboto', italic, 400, '../fonts/roboto-italic-webfont.woff2')
// @include font('Roboto', normal, 700, '../fonts/roboto-bold-webfont.woff2')
// @include font('Roboto', italic, 700, '../fonts/roboto-bolditalic-webfont.woff2')


// ----------------------------------------------------
// General documents styles
// ----------------------------------------------------
::placeholder
	color: $white
	opacity: $light-gray

::selection
	background-color: $accent
	color: $white

button:focus
	outline: none
	appearance: none
input, textarea
	outline: none
	appearance: none

body, html
	height: 100%
body
	overflow-x: hidden
	position: relative
	min-width: 320px
	color: $textcolor
	font-family: $font
	font-size: $fontsize
	font-weight: 300
	line-height: 1.65
	+media-breakpoint-down(xs)
		font-size: 15px
	&:not(.error404)
		padding-top: 150px // fixed header
		+media-breakpoint-down(md)
			padding-top: 110px // fixed header
		+media-breakpoint-down(xs)
			padding-top: 100px // fixed header
	&.compensate-for-scrollbar .header
		right: 17px
		+media-breakpoint-down(lg)
			right: 0

img
	display: inline-block
	max-width: 100%
	height: auto

h1, h2, h3, h4, h5, h6
	color: $dark
	line-height: 1.45
	+media-breakpoint-down(xs)
		line-height: 1.3

p
	margin-bottom: 20px

ul
	list-style: none
	margin: 0
	padding: 0

a
	position: relative
	color: $dark
	line-height: 1
	&:hover
		color: $dark
		text-decoration: none
